<!--The content below is only a placeholder and can be replaced.-->
<div id="parent-box">
  <h4>
    Parent Component
  </h4>
  <hr/>
  <div>
    <label>Child Name:</label>
    <input type="text" value=" {{ childName }}" />
  </div>
</div>
<app-child-one (emitter)="childName=$event" [parentName]="this.parentName"></app-child-one>
<app-child-two></app-child-two>
<app-child-three></app-child-three>