<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Root Module component
  </h1>
</div>
<app-test></app-test>
<hr/>
<label>First Name</label> <input type = "text" value = {{name}} [(ngModel)] = "name">

{{name}}
<hr/>
<div *ngIf = !isGood>
<h3>ngFor Demo COMPONENT 1</h3>

<h4 *ngFor = "let emp of employee">{{emp}}</h4>
</div>
<hr/>

<button (click) = "save()">Click ME</button>

<app-emp></app-emp>