<div id="child-box-two">
    <h4>Child Component Two</h4>
    <button (click)="passData()">DataToC1</button>
    <hr/>
    <div>
        <label>Parent Name:</label>
        <input type="text" />
    </div>
    <p>{{dataFromC1}}</p>
    <p>id : {{ id}}</p>
    <p>name : {{ name }}</p>
</div>