#news-container {
    position: absolute;
    left: 11.5%;
    background-color: rgb(240, 118, 118);
    height: 100%;
    width: 88.5%;
}

#main-news {
    position: absolute;
    left: 5%;
    top:5%;
    height: 70%;
    width: 70%;
}

#news-item {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 20%;
    width: 60%;  
}