<div id="news-container">
  <div>
    <div id="main-news">
      <header style="text-align:left;">Top News
        <small>{{ today | date }} </small>
      </header>
        <img [src]="news?.urlToImage" alt="cannot load image" width="70%" height="70%">
        <footer> {{ news?.title }}</footer>
      <hr>
    </div>
  </div>
  <div id="news-item">
    <p> {{ news?.content}}</p>
  </div>
</div>