<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    ngFor Demo
  </h3>
</div>
<div>
  <hr/>
  <ul>
    <li *ngFor="let player of players">{{ player.id + ' ' + player.name }}</li>
  </ul>
</div>

<div>
  <hr/>
  <h4>ng Template without Angular Directives</h4>
  <p>remover</p>
  <ng-template>
    <p>Gowtham</p>
  </ng-template>
  <p>steyn</p>
</div>
<hr/>
<div>
  <h4>ng Template with Angular Directives</h4>
  <ul>
    <ng-template ngFor let-player [ngForOf]="players">
      <li>{{player.id + ' ' + player.name }}</li>
    </ng-template>
  </ul>
</div>