<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ngFor trackby demo
  </h1>
</div>
<hr/>
<h4>List of Employees without trackby function</h4>
<ul>
  <li *ngFor="let employee of employees">{{employee.id}}.{{employee.name}}</li>
</ul>

<button (click)="getEmployeeListOne()">Refresh</button>

<hr/>

<app-test></app-test>