<div id="child-box-one">
  <h4>Child Component One</h4>
  <button (click)="onChange()">Send Name</button>
  <hr/>
  <div>
    <label>Parent Name:</label>
    <input type="text" value="{{ parentName }}" />
  </div>
  <p>{{ dataFromC2 }}</p>

  <button (click)="transferData()">DataToC2</button>
</div>