<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular Routing Demo
  </h1>
  <nav>
    <a routerLink="/cricket">Cricket</a>
    <a routerLink="/football">Football</a>
  </nav>
<router-outlet></router-outlet>
