#filter-block {
    position: absolute;
    left: 20%;
    top: 5%;
    width: 50%;
    height:80%;
}

#form-container {
    position: absolute;
    left: 5%;
    top: 13%;
    width: 60%;
    height: 90%;
    border: 2px solid lightblue;
}

.form-decorator {
    left: 20%;
    top: 10%;
    position: absolute;
    width: 60%;
    height: 50%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}