<div id="filter-block">
    <form id="form-container" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <div class="form-decorator">
            <label>Filter Type </label>
            <div class="form-control">
                <label class="radio-inline"> <input type="radio" formControlName="filterType" value="headlines" #refHeadlines>Top HeadLines</label>
                <label class="radio-inline"> <input type="radio" formControlName="filterType" value="everything" #refEverything>Everything</label>
            </div>
            <div *ngIf="refHeadlines.checked;else everythingBlock">
                <br>
                    <label>HeadLines Filter Type </label>
                    <div class="form-control">
                        <label class="radio-inline"> <input type="radio" formControlName="HeadlineFilterType" value="source" #refSources>Sources</label>
                        <label class="radio-inline"> <input type="radio" formControlName="HeadlineFilterType" value="other" #refOthers>Others</label>
                    </div>
                    <div *ngIf="refSources.checked;else othersBlock">
                            <label>Select Source</label>
                            <select formControlName="sourceSelect" class="form-control">
                                <option *ngFor="let source of sources" [value]="source">{{source}}</option>
                            </select>
                    </div>
                    <ng-template #othersBlock>
                        <div>
                       <br>
                         <label for="country" class="form-control"> <input type="checkbox" id="country" formControlName="country" #refCountry> Country</label>
                        <div *ngIf="refCountry.checked">
                            <label>Select Country</label>
                        <select formControlName="countrySelect" class="form-control">
                            <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
                        </select>
                    </div>
                        </div>
                        <div>
                                <br>
                                  <label for="category" class="form-control"> <input type="checkbox" id="category" formControlName="category" #refCategory> Category</label>
                                 <div *ngIf="refCategory.checked">
                                     <label>Select Category</label>
                                 <select formControlName="categorySelect" class="form-control">
                                     <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                                 </select>
                             </div>
                                 </div>
                    </ng-template>
                    <br>
            <div>
                <label>Enter Query: </label>
                <input type="text" formControlName="headlineQuery" class="form-control">
            </div>
            </div>
            
            <ng-template #everythingBlock>
                <div>
                    <br>
                        <div>
                                <label>Enter Query: </label>
                                <input type="text" formControlName="everythingQuery" class="form-control">
                                <span *ngIf="!filterForm.get('everythingQuery').valid && filterForm.get('everythingQuery').touched">Query is required**</span>
                            </div>
                            <div>
                                    <br>
                                      <label for="language" class="form-control"> <input type="checkbox" id="language" formControlName="language" #refLanguage> Language</label>
                                     <div *ngIf="refLanguage.checked">
                                         <label>Select Language</label>
                                     <select formControlName="languageSelect" class="form-control">
                                         <option *ngFor="let language of languages" [value]="language">{{language}}</option>
                                     </select>
                                 </div>
                </div>
                <div>
                    <label>From</label>
                    <input type="date" class="form-control"  formControlName="fromDate">
                </div>
                <div>
                        <label>To</label>
                        <input type="date" class="form-control" formControlName="toDate">
                    </div>
                </div>
            </ng-template>
            <br>
            <button class="btn btn-primary" [disabled]="refEverything.checked && !filterForm.valid">Filter News</button>
        </div>
    </form>
    </div>