<router-outlet></router-outlet>
<div id="side-menu">
    <a  routerLink="/news" routerLinkActive="active"><img class="logo" src="../assets/images/logo.png" alg="source not found"/></a>

    <div id="menu">
        <div class="menu-item">
            <a routerLink="/news" routerLinkActive="active">
                <span>/</span>
                <span>Futurism</span>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/filter" routerLinkActive="active" >
                <span>/</span>
                <span>Filter</span>
            </a>
        </div>
        <div class="menu-item">
            <a routerLink="/about" routerLinkActive="active" >
                <span>/</span>
                <span>About</span>
            </a>
        </div>
    </div>
</div>