#side-menu {
    position: fixed;
    height: 100%;
    width: 10%;
    background-color: rgb(20, 143, 224);
    left: 30px;
}

.logo {
    position: absolute;
    left: 48px;
    top: 20px;
}

#menu {
    position: absolute;
    top: 60%;
    left: 15%;
    width: 70%;
    height: 18%;
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    color: rgb(28, 234, 241);
}

.menu-item {
    padding: 10px;
}