<div id="news-container">
  <div>
    <div id="main-news">
      <header style="text-align:left;">Top News
        <small>{{ today | date }} </small>
      </header>
      <a *ngIf="news" [routerLink]="['/readnews', news?.articles[0].urlTitle]" (click)="onSelectNews(news?.articles[0])">
        <img [src]="news?.articles[0].urlToImage" alt="cannot load image" width="70%" height="70%">
        <footer> {{ news?.articles[0].title }}</footer>
      </a>
      <hr>
    </div>
    <div id="main-news-info">
      <h5>Source Name: {{ news?.articles[0].source.name }}</h5>
      <h5>Author Name: {{ news?.articles[0].author }}</h5>
      <h5>Published At: {{ news?.articles[0].publishedAt }}</h5>
    </div>
  </div>

  <div id="news-item">
    <div *ngFor="let article of news?.articles;index as i;" id="item-container">
      <div *ngIf=" i!= 0">
        <a *ngIf="article" [routerLink]="['/readnews', article.urlTitle]" (click)="onSelectNews(article)">
          <img [src]="article.urlToImage" height="200px" width="230px">
          <span class="news-item-content">
            <h6>{{ article.title }}</h6>
          </span>
          <hr>
        </a>
      </div>
    </div>
  </div>
</div>