#news-container {
    position: absolute;
    left: 11.5%;
    background-color: white;
    height: 100%;
    width: 88.5%;
}

#main-news {
    position: absolute;
    left: 5%;
    top:5%;
    height: 70%;
    width: 70%;
}

#main-news-info {
    position: absolute;
    left: 65%;
    top: 15%;
    height: 30%;
    width: 30%;
    color: blue;
    padding: 50px;
}

#news-item {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 20%;
    width: 60%;  
}

.news-item-content {
    position: absolute;
    left: 24%;
    height: 100%;
    width: 60%;
    padding: 10px;
}
a:hover {
    /* color: red; */
    text-decoration: underline blue;
  }
  