<h4>List of Employees with trackby function</h4>
<ul>
  <li *ngFor="let employee of employees; trackBy: track">{{employee.id}}.{{employee.name}}</li>
</ul>

<button (click)="getEmployeeListTwo()">Refresh</button>
<hr/>